<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a report</title>
</head>
<body>
    <p>Hello</p>
    <p th:{report.address}></p>
<!--    <form class="header" th:action="@{/create}" method="post" th:object="${ReportObjectDto}">-->
<!--        <input type="text" id="input" placeholder="New Item..." th:field="*{ReportObjectDto.address}">-->
<!--        <button type="submit" class="addBtn">Add</button>-->
<!--    </form>-->
</body>
</html>